# DATASCI 101, Homework 03

In [19]:
# basic setup, run this first
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import numpy as np

## Question 1

We will start this homework with some questions on collections in Python.

### Q1.a

Recall that *sets* are collections where each value in the collection only appears once.

Using the `set` function, turn both of these strings into sets. Then use set methods to find

* How many letters are shared between the two names?
* Which letters are in "George Washington" that are not in "Abraham Lincoln"?
* How many letters are in neither president's name?

In [20]:
gw = "George Washington".lower()
al = "Abraham Lincoln".lower()
az = "abcdefghijklmnopqrstuvwxyz"

In [21]:
gw_set = set(gw)
al_set = set(al)
az_set = set(az)

In [22]:
print(len(gw_set.intersection(al_set)))
print(gw_set.difference(al_set))
print(len(gw_set.symmetric_difference(al_set)))

7
{'t', 'g', 'w', 's', 'e'}
9

### Q1.b

Use a `for` loop to find the unique values in the lunch orders below. Using Python, print out the number of unique items being ordered. (*Hint*: You can use `set()` to create an empty set.)

In [23]:
lunch_orders = [{"pasta", "coffee"},
                {"fries","sandwich", "cookie"},
                {"pasta", "salad", "water"},
                {"salad", "pasta", "coffee"},
                {"sandwich", "water"}]

unique_items = set()

for order in lunch_orders:
    unique_items.update(order)

len(unique_items)

7

### Q1.c

Here is a menu at the resturant, with items and their cost:

| Item | Price | Vegetarian |
| --- | --- | --- |
| salad | 8 | True |
| soup | 5 | False |
| pasta | 12 | True |
| sandwich | 9 | False |
| burger | 13 | False |
| fries | 6 | True |
| cake | 6 | True |
| cookie| 3 | True |
| water | 0 | True |
| coffee| 2 | True |
| soda | 3 | True |

Create a dictionary called `menu` that has the item names as keys and a two-tuple with (price, vegetarian) as the value.

Demonstrate by retrieving the price and vegetarian status of "burger".



### Q1.d

Write a function that takes a lunch order (a set of menu items) and returns the total price.

Write a function that takes a lunch order a returns true if the entire order is vegetarian.

Use list comprehensions to compute the price of each order and whether each order is vegtarian.

In [24]:
# ANSWER TO QUESTION 1C

menu = {
       "salad": (8, True),
        "soup": (5, False),
        "pasta": (12, True),
        "sandwich": (9, False),
        "Burger": (13, False),
        "fries": (6, True),
        "cake": (6, True),
        "cookie": (3, True),
        "water": (0, True),
        "coffee": (2, True),
        "soda": (3, True)
        }       

menu["Burger"]
# FAlSE means not vegetarian

(13, False)

In [25]:
#ANSWER to QUESTIOn 1d

def total_price(lunch_orders, menu):
    return sum(menu[item][0] for item in lunch_orders)

def vegetarian_food(lunch_orders, menu):
    return all(menu[item][1] for item in lunch_orders)

order_prices = [total_price(order, menu) for order in lunch_orders]
order_vegetarian_status = [vegetarian_food(order, menu) for order in lunch_orders]


# Hints: try running the following code
# ("this", "is", "a tuple")[1]
# [s.upper() for s in {"hello", "world"}]

### Q1.e

When you have completed your menu in the part (c) you can remove the `#` charcters make this code run:

In [26]:
menu_dict = {
 "name": list(menu.keys()),
 "price": [i[0] for i in menu.values()],
 "vegetarian": [i[1] for i in menu.values()]
 }


print(max(menu_dict["price"]))
print(menu_dict["name"][np.argmax(menu_dict["price"])])
print(sum(menu_dict["vegetarian"]))

13
Burger
8

Use this table to compute the following:

* What is the price of the most expensive item in the list?
* What is the name of the most expensive item? (You can use the `np.argmax()` function to help you.)
* How many vegetarian items are there?



### Question 2

In [27]:
# run this to do question 2
import pandas as pd

### Q2.a

Here's a Pandas `DataFrame` version of our menu table.

In [28]:
menu_df = pd.DataFrame({'name': ['salad',
  'soup',
  'pasta',
  'sandwich',
  'burger',
  'fries',
  'cake',
  'cookie',
  'water',
  'coffee',
  'soda'],
 'price': [8, 5, 12, 9, 13, 6, 6, 3, 0, 2, 3],
 'vegetarian': [True,
  False,
  True,
  False,
  False,
  True,
  True,
  True,
  True,
  True,
  True]})

Using **methods** for Series objects (i.e., methods called on the columns of the table. Compute the following:

* The name of the least expensive item on the list.
* The number of items that cost between 5 and 10 dollars (inclusive).
* The names all of vegetarian items that cost more than 10 dollars.

In [29]:
print(menu_df["name"][menu_df['price'].idxmin()])

between_5_to_10 = menu_df[(menu_df['price'] >= 5) & (menu_df['price'] <= 10)].shape[0]
print(between_5_to_10)

vegetarian_over_10 = menu_df[(menu_df['price'] > 10) & (menu_df['vegetarian'])]['name'].tolist()
print(vegetarian_over_10)

water
5
['pasta']

### Q2.b

Create a table that is only composed of items that cost less than or equal to $5 (call the `value_items`).

In [30]:
value_items = menu_df[menu_df['price'] <= 5]
value_items

      name  price  vegetarian
1     soup      5       False
7   cookie      3        True
8    water      0        True
9   coffee      2        True
10    soda      3        True

How many vegetarian items are in this menu?

In [31]:
sum(value_items['vegetarian'])

4

## Q2.c

Let's use these techniques on some real data!

In [32]:
spotify = pd.read_csv("./spotify.csv")
spotify.columns

Index(['duration_ms', 'track.explicit', 'key', 'danceability', 'energy',
       'loudness', 'acousticness', 'instrumentalness', 'liveness', 'tempo',
       'time_signature', 'track.popularity', 'track.album.release_date',
       'track.name', 'artist.name'],
      dtype='object')

Using Python and Pandas, answer the following questions:

* How many songs have a popularity greater than 80?
* For songs with a popularity greater than 80, what is the shortest song (in miliseconds)?
* What is the name of the song with popularity greater than 80 that has the slowest tempo?

In [33]:
greater_than_80 = spotify[spotify['track.popularity'] > 80].shape[0]
print(greater_than_80)

shortest_popular_song = spotify[spotify['track.popularity'] > 80]['duration_ms'].min()
print(shortest_popular_song)

popular_songs = spotify[spotify['track.popularity'] > 80]
slowest_popular_song = popular_songs["track.name"][popular_songs["tempo"].idxmin()]
print(slowest_popular_song)

84
109091
Lover

### Q2.d

Here is a little code that will create a new column with four (approximately) evenly sized groups based on popularly (low, medium, medium high, and high). The code after creating the columns shows how many rows are in each group. There are a few songs with the same popularity value, which makes it difficult to get exactly evenly sized groups, but this is pretty close. The `(a, b]` output on the left shows the popularity range of that group.

In [34]:
spotify["popgrp"] = pd.qcut(spotify["track.popularity"], 4)
spotify["popgrp"].value_counts()

popgrp
(-0.001, 41.0]    250
(53.0, 67.0]      242
(67.0, 100.0]     238
(41.0, 53.0]      237
Name: count, dtype: int64

For each group, find the number of explicit songs using the `"track.explicit"` column. Which group has the most explicit songs?

In [35]:
explicit_songs_per_group = spotify.groupby("popgrp")["track.explicit"].sum()
print(explicit_songs_per_group.idxmax())

(67.0, 100.0]

### Q2.e

Create a new column that is the product of `danceability` and `energy`. Find the song with the highest product of danceability and energy. Find the tempo of this song. Is it a particularly fast song in terms of tempo? How many songs are faster than this song? How many are slower?

In [36]:
spotify["dance_energy"] = spotify["danceability"] * spotify["energy"]

print(f"Song name with highest dance_energy: ", spotify["track.name"][spotify["dance_energy"].idxmax()])
print(f"Tempo of the song with highest dance_energy: ", spotify["tempo"][spotify["dance_energy"].idxmax()])

if (spotify["tempo"][spotify["dance_energy"].idxmax()] > 90):
    print("Song is fast")
else:
    print("Song is moderate/slow")

fast_songs = len(spotify[spotify["tempo"] > spotify["tempo"][spotify["dance_energy"].idxmax()]])
print(f"Number of songs faster than highest dance_energy song: {fast_songs}")

slow_songs = len(spotify[spotify["tempo"] < spotify["tempo"][spotify["dance_energy"].idxmax()]])
print(f"Number of songs slower than highest dance_energy song: {slow_songs}")

Song name with highest dance_energy:  Miracle - Radio Edit
Tempo of the song with highest dance_energy:  121.98
Song is fast
Number of songs faster than highest dance_energy song: 394
Number of songs slower than highest dance_energy song: 571